.button {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 38px;
  padding-right: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  background-color: $bluedark;
  border: 3px solid #ffffff;
  border-radius: 35px;
}
