.contacts {
  padding-top: 47px;
  padding-bottom: 35px;
}
.contacts__title {
  width: 228px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__variants {
  @include reset-list;
  @include mobile-center;
  text-align: center;
}

.contacts__method {
  margin-bottom: 19px;
}

.contacts__method-text {
  font-size: 18px;
  font-weight: bold;
}

.contacts__address {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: $pinktext;
}
