.contacts {
  padding-top: 47px;
  padding-bottom: 35px;
}

.contacts__title {
  width: 228px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.contacts__variants {
  @include reset-list;
  @include mobile-center;
  text-align: center;
}

.contacts__method {
  margin-bottom: 19px;
}

.contacts__method-text {
  font-size: 18px;
  font-weight: bold;
}

.contacts__address {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: $pinktext;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 52px;
    padding-bottom: 26px;
  }

  .contacts__title {
    width: 380px;
    font-size: 40px;
    line-height: 48px;
  }

  .contacts__variants {
    display: flex;
    flex-wrap: wrap;

    @include tablet-center;
  }

  .contacts__method {
    margin: 0;

    &--telephone {
      width: 207px;
      margin-left: 40px;
      margin-right: 99px;
    }

    &--email {
      width: 250px;
    }

    &--office {
      width: 220px;
      margin-top: 42px;
      margin-left: 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include desktop-center;
    padding-top: 70px;
    padding-bottom: 22px;
  }

  .contacts__title {
    width: 475px;
    font-size: 50px;
    line-height: 60px;
  }

  .contacts__variants {
    width: 860px;
    margin: 0;
    padding: 0;
    margin-left: 48px;
    margin-right: 29px;
  }

  .contacts__method {
    &--telephone {
      margin-left: 0;
      margin-right: 115px;
    }

    &--email {
      order: 3;
    }

    &--office {
      width: 220px;
      margin-right: 68px;
      margin-top: 0;
      margin-left: 0;
    }
  }

}
