.features {
  background-color: #f2f2f2;
}

.features__list {
  @include reset-list;
  @include mobile-center;
  padding-top: 88px;
  padding-bottom: 320px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center bottom -50px;
}

.features__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
}

.features__item-header {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}

.features__item-text {
  margin: 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .features__list {
    @include tablet-center;
    width: 310px;
    padding: 0;
    padding-left: 310px;
    padding-top: 76px;
    padding-bottom: 42px;
    background-image: url("../../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: left top;
  }

  .features__item {
    width: 310px;
    margin: 0;
    text-align: left;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    display: flex;
    justify-content: space-between;

    @include desktop-center;
    background-image: none;
  }

  .features__item {
    width: 300px;
    padding-top: 362px;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .features__item-header {
    width: 205px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  .features__item-text {
    width: 240px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
}
