.main-menu {
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bluelight;
}

.main-menu__list {
  @include reset-list;
}

.main-menu__item a {
  display: block;
  padding: 16px 70px;
  text-align: center;
  cursor: pointer;
}

// @media (min-width: $desktop-width) {
//   .main-menu {
//     width: 620px;
//     font-size: 18px;
//     font-weight: normal;
//     line-height: 18px;
//     text-transform: none;
//     background-color: transparent;
//   }

//   .main-menu__list {
//     display: flex;
//     justify-content: space-between;
//   }

//   .main-menu__open {
//     display: none;
//   }
// }
