.main-menu {
  width: 320px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $bluelight;
}

.main-menu__list {
  @include reset-list;
}

.main-menu__item a {
  display: block;
  padding: 16px 70px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 0 #000000,
    inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

@media (min-width: $tablet-width) {
  .main-menu {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .main-menu {
    width: 620px;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    background-color: transparent;
  }

  .main-menu__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-menu__item a {
    padding: 0;
    box-shadow: none;
  }

  .main-menu__toggle {
    display: none;
  }
}
