.modal {
  display: none;
  position: fixed;
  width: 320px;
}

.modal__title {
  font-size: 18px;
  font-weight: bold;
}

.modal__wrapper {
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 485px;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    width: 805px;
  }
}
