.page-header {
  background-color: $bluelight;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 327px;
}

.page-header__logo {
  width: 75px;
  height: 22px;
}

.page-header__wrapper {
  @include mobile-center;
  padding-top: 22px;
  padding-bottom: 26px;
}

.page-header__top {
  margin-bottom: 395px;
}

.page-header__title {
  width: 180px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 84px;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.page-header--notmain {
  background-color: $bluelight;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 263px;
}

.page-header--notmain .page-header__top {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 280px;
    padding-bottom: 109px;
  }

  .page-header__wrapper {
    @include tablet-center;
    padding-top: 27px;
    padding-bottom: 42px;
  }

  .page-header__top {
    margin-bottom: 103px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 121px;
  }

  .page-header__wrapper {
    @include desktop-center;
    align-items: center;
    width: 150px;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .page-header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop-center;
    min-height: 110px;
    margin-bottom: 116px;
  }
}
