.page-footer {
  @include mobile-center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  display: block;
  width: 147px;
  height: 40px;
  margin: 0 auto;
}

.page-footer__socials {
  width: 180px;
  height: 46px;
  margin: 0 auto;
}

.page-footer__copyright {
  width: 130px;
  margin: 0 auto;
  line-height: 18px;
}

.page-footer--main {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer--main {
    display: flex;
  }

  .page-footer {
    display: flex;
    @include tablet-center;
    padding-top: 36px;
    padding-bottom: 39px;
  }

  .page-footer__logo {
    margin: 0;
    margin-right: 76px;
  }

  .page-footer__socials {
    margin: 0;
    margin-right: 97px;
  }

  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    @include desktop-center;
    padding-top: 98px;
    padding-bottom: 74px;
  }

  .page-footer__logo {
    margin-right: 240px;
  }

  .page-footer__socials {
    margin-right: 229px;
  }
}
