.page-header {
  background-color: $bluelight;
  background-image: url("../../img/iphone-hand-mobile@1x.png"),
    url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: left top 436px,
    center top 263px;
}

.page-header__logo {
  width: 75px;
  height: 22px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;

  @include mobile-center;
  padding-top: 22px;
  padding-bottom: 26px;
}

.page-header__top {
  margin-bottom: 395px;
}

.page-header__title {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

// @media (min-width: $tablet-width) {
//   .page-header__wrapper {
//     padding-top: 27px;
//     padding-bottom: 41px;
//   }
// }

// @media (min-width: $desktop-width) {
//   .page-header {
//     background-image: none;
//   }

//   .page-header__wrapper {
//     align-items: center;
//     width: 150px;
//     height: auto;
//     padding: 0;
//     background-color: transparent;
//   }

//   .page-header__top {
//     display: flex;
//     @include desktop-center;
//     justify-content: space-between;
//     align-items: center;
//     min-height: 110px;

//   }
// }
