.page-content {
  padding-top: 44px;
}

.page-content__wrapper {
  @include mobile-center;
  margin-bottom: 34px;
}

.page-content__text {
  width: 210px;
  margin: 0 auto;
  margin-bottom: 38px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.page-content__text:last-child {
  margin-bottom: 0;
}
