.story__sign-text {
  color: $pinktext;
  text-transform: uppercase;
}

.story__field {
  background-color: #f2f2f2;
}

.story__notice {
  text-transform: uppercase;
}

.story__top-symbol {
  color: $pinktext;
}
