.tarifs {
  padding-top: 90px;
  padding-bottom: 48px;
  background-color: #f2f2f2;
}

.tarifs__list {
  @include reset-list;
}

.tarifs__item {
  @include mobile-center;
}

.tarifs__header {
  padding-top: 17px;
  padding-bottom: 18px;
  background-color: $bluelight;
  text-align: center;
}

.tarifs__title {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.tarifs__price {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.tarifs__features {
  width: 100%;
  margin-bottom: 44px;
  border-collapse: collapse;
}

.tarifs__features tr {
  border: 2px solid #e5e5e5;
}

.tarifs__advantage {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 14px;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.tarifs__onoff {
  padding-right: 21px;
  text-align: right;
}

.tarifs__toggles {
  width: 62px;
  margin: 0 auto;
}
