.tarifs {
  padding-top: 90px;
  padding-bottom: 48px;
  background-color: #f2f2f2;
}

.tarifs__wrapper {
  @include mobile-center;
  overflow: scroll;
}

.tarifs__list {
  width: 840px;
  border-collapse: collapse;
}

.tarifs__toggles {
  width: 62px;
  margin: 0 auto;
}

.tarifs__empty {
  display: none;
}

.tarifs__advantage--desktop {
  display: none;
}

.tarifs__title {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.tarifs__price {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .tarifs__wrapper {
    @include tablet-center;
    overflow: auto;
  }

  .tarifs__list {
    width: 620px;
  }

  .tarifs__toggles {
    display: none;
  }

  .tarifs__empty {
    display: table-cell;
  }

  .tarifs__advantage {
    display: none;
  }

  .tarifs__advantage--desktop {
    display: table-cell;
  }
}

@media (min-width: $desktop-width) {
  .tarifs__wrapper {
    @include desktop-center;
  }

  .tarifs__list {
    width: 940px;
  }
}
