.userphotos {
  padding-top: 45px;
  padding-bottom: 44px;
}

.userphotos__title {
  margin-bottom: 49px;
}

.userphotos__desc {
  width: 245px;
  margin: 0 auto;
  text-align: center;
}

.userphotos__panorama {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.userphotos__panorama-photo {
  position: relative;
  display: block;
  width: 320px;
  height: 137px;
  margin-left: -20px;

  &::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background-color: $pinktext;
  }
}

.userphotos__panorama-photo img {
  width: 320px;
  height: 137px;
}

.userphotos__list {
  @include reset-list;
}

.userphotos__item {
  @include mobile-center;
  background-color: #ffffff;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.userphotos__photo {
  display: block;
  width: 280px;
  height: 180px;
}

.userphotos__photo img {
  width: 280px;
  height: 180px;
}

.userphotos__info {
  display: block;
  margin: 0;
  padding-left: 18px;
  padding-right: 11px;
  padding-top: 15px;
  padding-bottom: 17px;
  background-color: #f2f2f2;
}

.userphotos__author {
  font-weight: bold;
  font-style: normal;
}

.userphotos__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.userphotos__comment {
  margin: 0;
  margin-top: -3px;
  margin-bottom: 5px;
  line-height: 24px;
}

.userphotos__like {
  width: 14px;
  height: 16px;
  margin-right: 13px;
  padding: 0;
  vertical-align: text-bottom;
  background-color: transparent;
  background-image: url("../../img/icon-heart.svg");
  background-repeat: no-repeat;
  border: none;
}

.userphotos__likes {
  font-size: 12px;
  color: $pinktext;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .userphotos {
    padding-top: 92px;
    padding-bottom: 3px;
    overflow: hidden;
  }

  .userphotos__title {
    margin-bottom: 74px;
  }

  .userphotos__desc {
    width: 440px;
    font-size: 18px;
  }

  .userphotos__panorama {
    width: 620px;
    margin-bottom: 50px;
  }

  .userphotos__panorama-photo {
    width: 660px;
    height: 509px;
    margin-left: -20px;

    &::before {
      top: 59px;
    }
  }

  .userphotos__panorama-photo img {
    width: 660px;
    height: 509px;
  }

  .userphotos__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet-center;
  }

  .userphotos__item {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    min-height: 455px;
    margin: 0;
    padding: 0;

    &:last-child {
      margin-bottom: 20px;
    }

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  .userphotos__photo {
    display: block;
    width: 300px;
    height: 300px;
  }

  .userphotos__photo img {
    width: 300px;
    height: 300px;
  }

  .userphotos__info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    padding-left: 27px;
    padding-right: 28px;
    padding-top: 24px;
    padding-bottom: 19px;
  }

  .userphotos__author {
    margin-right: 4px;
  }

  .userphotos__info--panorama .userphotos__time {
    margin-right: auto;
  }

  .userphotos__info--panorama .userphotos__comment {
    order: 1;
  }

  .userphotos__likebox {
    display: flex;
    width: 100%;
  }

  .userphotos__likes {
    margin-right: auto;
  }

  .userphotos__like {
    order: 1;
    margin: 0;
    margin-top: 8px;
  }

  .userphotos__info--panorama .userphotos__likebox {
    width: auto;
  }

  .userphotos__info--panorama .userphotos__likes {
    margin-right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .userphotos__title {
    margin-bottom: 88px;
  }

  .userphotos__desc {
    width: 575px;
  }

  .userphotos__panorama {
    width: 940px;
  }

  .userphotos__panorama-photo {
    width: 1200px;
    height: 506px;
    margin-left: -130px;

    &::before {
      top: 54px;
      right: 130px;
    }
  }

  .userphotos__panorama-photo img {
    width: 1200px;
    height: 506px;
  }

  .userphotos__list {
    @include desktop-center;
  }

  .userphotos__item {
    min-height: 555px;
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .userphotos__info {
    padding-bottom: 16px;
  }

  .userphotos__photo {
    height: 400px;
  }

  .userphotos__photo img {
    height: 400px;
  }
}
