.yourphoto__post {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: $pinktext;
  background-color: transparent;
}

.yourphoto__cancel {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
}
